<form class="form-horizontal" style="margin-left:20%">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name: </label>&nbsp;&nbsp;
   <!-- <div class="col-sm-10">-->
      <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="name"/>
    <!--</div>-->
  </div><br />
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description: </label>&nbsp;&nbsp;
   <!-- <div class="col-sm-10">-->
      <textarea class="form-control" id="description" placeholder="Description" data-ng-model="description"></textarea>
   <!-- </div>-->
  </div><br />
  <div class="form-group">
    <label for="price" class="col-sm-2 control-label">Price: </label> &nbsp;&nbsp;
   <!-- <div class="col-sm-10">-->
      <input type="text" class="form-control" id="price" placeholder="Price" data-ng-model="price"/>
    <!--</div>-->
  </div><br />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default" data-ng-click="SubmitBicycle()" style="float:right;">Submit</button>
    </div>
  </div>
</form>